/************************************************
INSUER LANDING PAGE CSS

1. Global styles
    1.1 css reset
    1.2 typography
    1.3 css variables
    1.4 global
    1.5 state
2. Layout
    2.1 header
3. Specific styles
4. Helper classes
5. Responsive

/***********************************************
                 Global styles
***********************************************/

/*** css reset ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,body {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*** typography ***/

@font-face {
    font-family: Display;
    src: url('../assets/fonts/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: Karla;
    src: url('../assets/fonts/Karla-Regular.ttf');
}

.nav-menu--item,.button {
    font-family: Karla;
}

.button {
    font-size: 1rem;
}

/*** css variables ***/

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue:  hsl(216, 30%, 68%);
    --very-dark-violet:  hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/*** global ***/

.hamburger-container {
    display: none;
}

a {
    text-decoration: none;
}

.button {
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.nav-menu--button {
   padding: 0 1em;
   border: 2px solid var(--very-dark-violet);
}

.nav-menu--button > a {
    color: var(--very-dark-violet);
}

/*** states ***/

.nav-menu--button:hover {
    background-color: var(--very-dark-violet);
    transition: all ease 1s;
}

.nav-menu--button:hover > a {
    color: var(--very-light-gray);
}

/***********************************************
                Layout
***********************************************/
.main-header {
    width: 100%;
    height: 80px;
}









/**************************************************
                Specific styles
***************************************************/

/*** header ***/
.main-header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 80px;
}

.nav-menu--item {
    float: left;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
}

.nav-menu--item > a {
    display: block;
    cursor: pointer;
}

.nav-menu--item:not(:last-child) > a {
    color: var(--dark-grayish-violet);
}


/***************************************************
                Helper classes
****************************************************/
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.list-reset {
    list-style-type: none;
}

/***************************************************
                Responsive 
****************************************************/

