/************************************************
INSUER LANDING PAGE CSS

1. Global styles
    1.1 css reset
    1.2 typography
    1.3 css variables
    1.4 global
    1.5 state
2. Layout
    2.1 header
3. Specific styles
4. Helper classes
5. Responsive

/***********************************************
                 Global styles
***********************************************/

/*** css reset ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,body {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*** typography ***/

@font-face {
    font-family: Display;
    src: url('../assets/fonts/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: Karla;
    src: url('../assets/fonts/Karla-Regular.ttf');
}

.nav-menu--item,
.button, 
.intro_content--button,
p {
    font-family: Karla;
}

.button, 
.intro_content--button,
p {
    font-size: 1rem;
}

h1, h2, h3 { 
    font-family: Display;
}

h1 {
    font-size: 4.25rem;
}

h2 {
    font-size: 3.4375rem;
}

h3 {
    font-size: 1.375rem;
}

/*** css variables ***/

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue:  hsl(216, 30%, 68%);
    --very-dark-violet:  hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/*** global ***/

.hamburger-container {
    display: none;
}

a {
    text-decoration: none;
}

/*** buttons ***/

.button {
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.nav-menu--button{
   padding: 0 1em;
   border: 2px solid var(--very-dark-violet);
}

.nav-menu--button > a {
    color: var(--very-dark-violet);
}

.intro_content--button {
    padding: 0 2em;
    background: none;
    border: 2px solid var(--very-light-gray);
}

/*** states ***/

.nav-menu--button:hover {
    background-color: var(--very-dark-violet);
    transition: all ease 1s;
}

.nav-menu--button:hover > a {
    color: var(--very-light-gray);
}

/***********************************************
                Layout
***********************************************/
.main-header {
    width: 100%;
    height: 80px;
}

.intro {
    width: 100%;
}

.different {
    width: 100%;
    height: 100%;
    min-height: 600px;
}

.services_container--item {
    width: 33.3%;
}


/**************************************************
                Specific styles
***************************************************/

/*** header ***/

.main-header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 80px;
}

.nav-menu--item {
    float: left;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
}

.nav-menu--item > a {
    display: block;
    cursor: pointer;
}

.nav-menu--item:not(:last-child) > a {
    color: var(--dark-grayish-violet);
}

/*** intro ***/

.intro {
    position: relative;
    background-color: var(--dark-violet);
}

.intro-rightPattern {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.intro > .container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.intro_content {
    margin-top: 8%;
    width: 45%;
    min-height: 550px;
}

.intro_content > h1 {
    margin-top: 8%;
    color: var(--very-light-gray);
}

.intro_content > p {
    color: var(--very-light-gray);
    margin: 5% 0;
    text-align: left;
}

.intro_content--button {
    color: var(--very-light-gray);
}

.intro-img {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: 0;
}

.intro-leftPattern {
    position: absolute;
    top: 70%;
}

/*** different ***/

.different  {
    padding-top: 15%;
}

.different > .container > .line {
    width: 20%;
    background-color: var(--dark-grayish-violet);
}

.different > .container > h2 {
    color: var(--dark-violet);
    margin: 6% 0 10%;
}

.services_container {
    display: flex;
}

.services_container--item:not(:last-child) {
    padding: 0 1% 0 0;
}

.services_container--item:last-child {
    padding: 0 0 0 1%;
}

.services_container--item > h3 {
    color: var(--dark-violet);
    margin: 5% 0;
}

.services_container--item {
    justify-content: flex-start;
}

.services_container--item > p {
    color: var(--dark-grayish-violet);
    text-align: left;
    line-height: 180%;
}
/***************************************************
                Helper classes
****************************************************/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.list-reset {
    list-style-type: none;
}

.line {
    width: 30%;
    height: 2px;
    background-color: var(--very-light-gray);
    display: block;
}
/***************************************************
                Responsive 
****************************************************/

